.html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 100%;
}
margin-bottom 0px {
  padding-top: 4.5rem;
}
.main {
  min-height: 100%;
  margin-top: 48px;
}
.jumbotron {
  margin-top: -20px;
}
/* Theme */
.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}
.header-logo:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.site-header {
  background-color: rgba(0,0,0,0.85);
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  -webkit-transition: ease-in-out color 0.15s;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #ddd;
  text-decoration: none;
}
.location {
  color: #212529;
  -webkit-transition: ease-in-out color 0.15s;
  transition: ease-in-out color 0.15s;
}
.location:hover {
  color: #62666a;
  text-decoration: none;
}
/*
 * Extra utilities
 */
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.05);
}
.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.computer-svg {
  max-width: 50%;
  color: #f00;
}
/* Computer SVG */
.computer-logo-bclose {
  fill: #f94747;
}
.computer-logo-bmin {
  fill: #fdb024;
}
.computer-logo-bmax {
  fill: #29c231;
}
/* Portfolio Carousel*/
.carouselContainer {
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  padding: 2em 4em;
}
.portfolio-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-medium {
  background-color: #default;
}
